body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1a202c;
    font-family: Arial, sans-serif;
}

.game-container {
    text-align: center;
}

.score-board {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

#gameCanvas {
    border: 2px solid #00f;
}

.start-button {
    margin-top: 20px;
    background-color: #ffff00;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

#message {
    color: #ffff00;
    font-size: 24px;
    margin: 10px 0;
}
.playbutton{
    background-color:white;
    padding:1em;
    margin:2em;
    border-radius:8px;
    line-height:4em;
}
.cadrage_map{
    display:flex;
    align-items:center;
    gap:1.5em;
}
h1 {
    color: white;
    margin-bottom: 20px;
    width:94%;
    font-family: "Libre Baskerville", sans-serif;
    margin-left:auto;
    
}

.game-container {
    text-align: center;
}
